html {
    overflow: scroll;
    scrollbar-color: chartreuse black;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    cursor: url('assets/image/cursor.png') 16 16, auto; /* Custom cursor */
}
.navbar{
    margin: 0;
}
.navbar-brand{
    color: white;
    font-weight: bold;
}
.collapse{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link{
    font-weight: bold;
    color: white !important;
    display: inline-block;
    position: relative;
}
.nav-link::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
.nav-link:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
.nav-link:hover{
    color: black !important;
}
.header-page{
    background: url("https://media1.tenor.com/m/cKgOapMuyWcAAAAd/coding-developer-code.gif");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: fit-content;
    margin: 0;
    
}
.middle{
    display: flex;
    justify-content:center ;
    align-items: center;
    width: 100%;
    height: 400px;
}
.hp-img-div{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
.hp-img-div {
    position: relative;
    width: 300px; /* Adjust the width as per your image size */
    height: 300px; /* Adjust the height as per your image size */
}

.hp-img-1, .hp-img-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    transition: opacity 0.3s ease;
    border-radius: 50%;
}

.hp-img-2 {
    opacity: 0; /* Initially hide the second image */
}

.hp-img-div:hover .hp-img-1 {
    opacity: 0; /* Hide the first image on hover */
}

.hp-img-div:hover .hp-img-2 {
    opacity: 1; /* Show the second image on hover */
}
.info-div{
    padding-top: 10px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.id-1{
    background: linear-gradient(to right, #e65c00, #f9d423); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: bold;
    background-clip: text;
    color: transparent;
    font-size: 30px;
}
.id-2 span{
    background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: bold;
    background-clip: text;
    color: transparent;
    font-size: 50px;
}
.id-2{
    font-size: 50px;
    font-weight: bold;
}
.id-3{
    background: linear-gradient(to right, #ec008c, #fc6767); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: bold;
    background-clip: text;
    color: transparent;
    font-size: 20px;
}
.social-media{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.sm-icon{
    background-color: white;
    border-radius: 50%;
    font-size: 30px;
    color: black;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s all;
}
.smi1:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
}
.smi2:hover{
    background-color: orange;
    color: white;
    cursor: pointer;
}
.smi3:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.smi4:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
}
.btn-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn-section button{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 0.3s all;
    background-color: blue;
    color: white;
}
.btn-section button:hover{
    gap: 20px ;
}
.btn-section button span{
    font-weight: bold;
}
.btn-section a{
    text-decoration: none;
}