body{
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.nav-link{
    font-weight: bold;
    transition: 0.3s all;
}
.nav-link:hover{
    color: green !important;
}
/* Welcome Page */
.welcome-page{
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wc-1{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wc-1 h3{
    color: darkorange;
}
.wc-1 h1{
    color: green;
}
.wc-2{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.wc-2 img{
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.wc-3{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wc-3 button{
    border: none;
    width: 200px;
    height: 30px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 25px ;
    transition: 0.3s all;
}
.wc-3 button:hover{
    background-color: darkorange;
}

/* Form */
.add-form{
    width: 100%;
    height: fit-content ;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 100px 100px;
    justify-content: center;
    gap: 20px;
    box-sizing: border-box;
    margin-top: 20px;
}
.submit-btn{
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.submit-btn button{
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-weight: bold;
    transition: 0.5s all;
}
.submit-btn button:hover{
    background-color: green;
}
.form-sec{
    display: flex;
    flex-direction: column;
}
.af-label{
    font-weight: bold;
}
.af-label span{
    color: red;
}
.af-input-div{
    display: flex;
    flex-direction: row;
}
.afi-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    width: 30px;
    border: 1px solid black;
}
.afi-box{
    width: 200px;
    height: 30px;
}


/* input show section */
.res-sec{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-top: 20px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.res-box{
    width: 200px;
    height: fit-content;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 50px 0px;
    border-radius: 10px;
}
.res-img-div{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-bottom: 10px;
}
.res-img{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.res-name{
    font-size: 15px;
    font-weight: bold;
}
.res-email{
    font-size: 12px;
    font-weight: bold;
}
.res-phn{
    font-size: 12px;
    font-weight: bold;
}
.res-gender{
    font-size: 12px;
    font-weight: bold;
}
.res-dob{
    font-size: 12px;
    font-weight: bold;
}
.res-info{
    margin-left: 2px;
}
